.controler {
    width: 960px;
    text-align: center;
    
}
.butt {
    display: inline-block; 
    width: 12%;
    margin: 5% 7%;
    font-size: 32px;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 50px;
    /* background-color: orange; */
    padding: 3% 2%;
}
input[type=text] {
    font-size: 16px;
    transform: scale(0.8);
  }
